

.swiper-container {
  height: 210px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .swiper-pagination-bullet-active {
    background: yellowgreen;
  }
  .swiper-slide{
    img {
      width: 100%;
    }
  }

}
